// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//Awesome
@import "~font-awesome/scss/font-awesome.scss";
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
//slider
@import "./fotorama.css";
//rating star
@import "~jquery-bar-rating/dist/themes/fontawesome-stars.css";
@import "~jquery-bar-rating/dist/themes/fontawesome-stars-o.css";
//summernote
@import "~summernote/dist/summernote-bs4.css";
//bootstrap-select
@import "~bootstrap-select/dist/css/bootstrap-select.min.css";

.navbar {
    padding: 0.35rem 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Comfortaa', sans-serif;
}

.app-content {
    flex: 1;
}

.br-theme-fontawesome-stars-o .br-widget {
    height: 1.2rem;
    white-space: nowrap;
    text-align: right;
}

.br-theme-fontawesome-stars-o .br-widget a {
    font: normal normal normal 10px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    margin-right: 2px;
}

.fav-btn {
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
}

.buy-group-btn {
    justify-content: right;
    align-items: center;
}

@keyframes favme-anime {
    0% {
        opacity: 1;
        font-size: ms(0);
        -webkit-text-stroke-color: transparent;
    }
    25% {
        opacity: .6;
        color: #FFF;
        font-size: ms(-2);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #DC3232;
    }
    75% {
        opacity: .6;
        color: #FFF;
        font-size: ms(3);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #DC3232;
    }
    100% {
        opacity: 1;
        font-size: ms(2);
        -webkit-text-stroke-color: transparent;
    }
}

@keyframes favme-hover {
    from {
        font-size: ms(3);
    }
    80% {
        font-size: ms(2);
    }
}

.favme {
    display: block;
    font-size: ms(2);
    width: auto;
    height: auto;
    cursor: pointer;
    box-shadow: none;
    transition: all .2s ease;
    color: #CBCDCE;
    margin: 0;

    &.active {
        color: #DC3232;
    }

    &:hover {
        animation: favme-hover .3s infinite alternate;
    }

    &.is_animating {
        animation: favme-anime .3s;
    }
}

.quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 26px;
    font-size: 14px;
    color: #43484D;
    font-weight: 300;
}

.popup-stuff__count-value {
    display: inline-block;
    vertical-align: center;
    background: transparent;
    line-height: 24px;
    color: #7f7676;
    pointer-events: none;
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;
    font-size: 20px;
    text-align: center;
}

.sum {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;
    display: inline-block;
    pointer-events: none;
    text-align: right;
    width: 100px;
}

.plusmin {
    border-radius: 50%;

}

.fa {
    vertical-align: inherit;
}

.items__head {
    color: #a59c9c;
    padding: 8px 0 27px;
}

@media (min-width: 992px) {
    .cart-total {
        //width: 366px;
        border-left: 4px solid #fab134;
        //background: #f8f8f8;
        padding: 44px 59px 44px 56px;
        //border-radius: 0 35px 35px 0;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .cart-total {
        border-top: 4px solid #fab134;
        padding: 44px 59px 44px 56px;
    }
}
@media (max-width: 575.98px) {
    .cart-total {
        border-top: 4px solid #fab134;
        padding: 44px 59px 44px 56px;
    }
}


.removeItem {
    vertical-align: top;
    cursor: pointer;
}

.comment-body {
    padding-bottom: 0;
    padding-top: 0.2em;
}

.card-header {
    height: 2.5rem;
    padding: 0.3rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header-cart {
    padding-top: 2px;
}

.card-footer {
    padding: 0.75rem 0.75rem;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.alert-minimalist {
    background-color: rgb(241, 242, 240);
    border-color: rgba(149, 149, 149, 0.3);
    border-radius: 3px;
    color: rgb(149, 149, 149);
    padding: 10px;
}
.alert-minimalist > [data-notify="icon"] {
    height: 50px;
    margin-right: 12px;
}
.alert-minimalist > [data-notify="title"] {
    color: rgb(51, 51, 51);
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.alert-minimalist > [data-notify="message"] {
    font-size: 80%;
}

.alert-dark {
    background: #323232;
}

.comment-input {
    height: 1.5rem;
}

.btn-comment {
    line-height: 1
}
